@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&family=Dancing+Script&display=swap');

html {
    background-color: rgb(255,255,0);
    font-family: 'Alumni Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
}

body {
    text-align: -webkit-center;
    font-size: clamp(1em, 1em + 1vw, 1.5em);
}

#main {
    background-color: #fbec5d;
    border-radius: 10px;
    padding: 2%;
}

#title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

h1{ margin-bottom: 0;}
h2 p{ margin: 0 auto; 
    display: flex;}

#img-div {
    text-align: center;
}

#img-caption {
}

img {
    display: inline-block;
    border-radius: 10px;
}

#tribute-info {
    text-align: -webkit-center;
}

#tribute-link {
    text-decoration: none;
    transition: ease-out 1.5s;
    color: black;
}

#tribute-link:hover {
    font-size: 1.9rem;
    transition: ease-out 1.5s;
}

#footer {
    background-color: yellow;
    border-radius: 10px;
    padding: 1.5%;
}

@media (max-width: 720px ) {
    #tribute-link:hover {
        font-size: 1.5rem;
    }
}